body {
    background-color: #000;
    color: #FFA500;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.jewelry-design-container-bracelets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.jewelry-design-bracelets {
    width: 300px;
    margin: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #FFA500; /* Orange */
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFA500;
    color: #000;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #FF8C00;
}
